- studies = Rbbt.studies.find(:lib).glob("*").sort.collect{|file| File.basename file}

.row
  .column.small-12
    %ul.clean_list
      - dataset_info = ICGC.job(:datasets, nil).run #.select(:key => studies)
      - dataset_info.fields = ["With clinical", "Genotyped", "With CNV", "With gene expression", "With methylation"]
      - dataset_info.add_field "Number of samples/mutations" do |study, values|
        - study = Study.setup(study)
        - if study.has_genotypes? 
          - samples = study.cohort.length
          - mutations = study.cohort.metagenotype.length
          - "#{samples} / #{mutations}"
        - else
          - "None"
        
      = tsv2html(dataset_info)

