%ul.clean_list
  - dataset_info = ICGC.job(:datasets, nil).run 
  - dataset_info.delete_if{|k,v| k =~ /README/}
  - dataset_info.fields = ["With clinical", "Genotyped", "With CNV", "With gene expression", "With methylation"]

  - dataset_info.add_field "Number of samples/mutations" do |study, values|
    - log study
    - study = Study.setup(study)
    - if study.has_genotypes? 
      - samples = study.genotyped_samples.length
      - mutations = study.metagenotype.length
      - "#{samples} / #{mutations}"
    - else
      - "None"
    
  = table do
    - dataset_info

