%ul.clean_list
  - dataset_info = ICGC.job(:dataset_overview, nil).run 
  - dataset_info.delete_if{|k,v| k =~ /README/}
  -# dataset_info.fields = ["With clinical", "Genotyped", "With CNV", "With gene expression", "With methylation"]

  - dataset_info.add_field "Number of samples/mutations" do |study, values|
    - log study
    - study = Study.setup(study)
    - begin
      - if study.has_genotypes? 
        - samples = study.genotyped_samples.length
        - mutations = study.metagenotype.length
        - "#{samples} / #{mutations}"
      - else
        - "None"
    - rescue
      - next
    
  - good_fields = dataset_info.fields - %w(Specimen Sample Donor)
  = table do
    - dataset_info.slice(good_fields)

